<app-header></app-header>
<div class="site-main-container">
  <!-- Start top-post Area -->
  
  <!-- End top-post Area -->
  <!-- Start latest-post Area -->
  <section class="latest-post-area pb-120">
    <div class="container no-padding">
      <div class="row">
        <div class="col-lg-8 post-list">
          <!-- Start single-post Area -->
          <div class="single-post-wrap">
            <div class="feature-img-thumb relative">
              <div class="overlay overlay-bg"></div>
              <div   *ngIf="post.photoPost!=null">
                <img  src="http://localhost:9999/photoPost/{{post.idPost}}" ></div> 
                <video *ngIf="post.videoPost!=null" controls  id="videoPlayer">
                  <source src="http://localhost:9999/videoPost/{{post.idPost}}" type="video/mp4" />
                   
                  </video>
            </div>
            <div class="content-wrap">
              <ul class="tags mt-10">
                <li><a href="#">{{post.categoriePost.titleCategorie}}</a></li>
              </ul>
              <a href="#">
                <h3>{{post.titlePost}}</h3>
              </a>
              <ul class="meta pb-20">
                <li><a href="#"><span class="lnr lnr-user"></span>{{post.admin.nomAdmin}} {{post.admin.prenomAdmin}}</a></li>
                <li><a href="#"><span class="lnr lnr-calendar-full"></span>{{post.datePost}}</a></li>
                <li><a href="#"><span class="lnr lnr-bubble"></span>{{post.listComment.length}} </a></li>
              </ul>
              <p>{{post.contenuePost}}
                 </p>
            
            <div class="navigation-wrap justify-content-between d-flex">
              <a class="prev" href="#"><span class="lnr lnr-arrow-left"></span>Prev Post</a>
              <a class="next" href="#">Next Post<span class="lnr lnr-arrow-right"></span></a>
            </div>
            
            <div class="comment-sec-area">
              <div class="container">
                <div class="row flex-column">
                  <h6>{{post.listComment.length}} Comments</h6>
                  <div class="comment-list" *ngFor="let comment of post.listComment; let i = index">
                    <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                        <div class="thumb">
                          <div   *ngIf="post.photoPost!=null">
                            <img  src="http://localhost:9999/photoUser/{{comment.user.idUser}}" width="50px" height="50px"></div> 
                                                   </div>
                        <div class="desc">
                          <h5><a href="#">{{comment.user.nomUser}} {{comment.user.prenomUser}}</a></h5>
                          <p class="date">December 4, 2017 at 3:12 pm </p>
                          <p class="comment">
                            {{comment.contenuComment}}

                          </p>
                          

                          
                        </div>
                      </div>
                        <div class="reply-btn">

                          <div class="btn-group dropright">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                              <button (click)="choixModif(comment)" class="dropdown-item" type="button">Modifier</button>
                              <button (click)="deleteCom(comment)" class="dropdown-item" type="button">suprimer</button>
                          </div>
                          </div>
                          </div>
                      
                      
                    </div>
                    
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <div class="comment-form"  *ngIf="modifier">
            <h4>Post Comment</h4>
           
             
              <div class="form-group">
                <textarea class="form-control mb-10" rows="5" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
              </div>
              <button (click)="addComment()" class="primary-btn text-uppercase">Post Comment</button>
           
          </div>
          <div class="comment-form"  *ngIf="! modifier">
            <h4>Edit Comment</h4>
           
             
              <div class="form-group">
                <textarea class="form-control mb-10" rows="5" [(ngModel)]="messagee" [ngModelOptions]="{standalone: true}" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required="">
                  
                </textarea>
              </div>
              <button (click)="editComment()" class="primary-btn text-uppercase">Edit Comment</button>
           
          </div>
        </div>
        <!-- End single-post Area -->
      </div>
      <app-sidebar class="col-lg-4"></app-sidebar>

    </div>
  </div>
</section>
<!-- End latest-post Area -->
</div>
<app-footer></app-footer>