<app-header></app-header>
		<div class="site-main-container">
			<app-latest-news></app-latest-news>
			<!-- End top-post Area -->
			<!-- Start latest-post Area -->
			<section class="latest-post-area pb-120">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-8 post-list">
							<!-- Start latest-post Area -->
							<div class="latest-post-wrap">
								<h4 class="cat-title">Latest News</h4>
								<div class="single-latest-post row align-items-center" *ngFor="let post of posts | paginate: { id: 'listing_pagination',
								itemsPerPage: 4,
								currentPage: page,
								totalItems: totalRec } ">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<div   *ngIf="post.photoPost!=null">
												<img class="img-fluid" src="http://localhost:9999/photoPost/{{post.idPost}}" ></div> 
												<video class="img-fluid" *ngIf="post.videoPost!=null" controls  id="videoPlayer">
													<source src="http://localhost:9999/videoPost/{{post.idPost}}" type="video/mp4" />
												   
												  </video>
										</div>
										<ul class="tags">
											<li><a href="#">{{post.categoriePost.titleCategorie}}</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a [routerLink]="'/postdetail/'+post.idPost">
											<h4>{{post.titlePost}}</h4>
										</a>
										<ul class="meta">
											<li><span class="lnr lnr-user"></span>{{post.admin.nomAdmin}} {{post.admin.prenomAdmin}}</li>
											<li><span class="lnr lnr-calendar-full"></span>{{post.datePost}}</li>
											<li><span class="lnr lnr-bubble"></span>{{post.listComment.length}} Comments</li>
										</ul>
										<p class="excert">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
										</p>
									</div>
								</div>
								<div>
									<pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event" class="text-md-right"></pagination-controls>
								  </div>
							
							</div>
				
						</div>
						<app-sidebar class="col-lg-4"></app-sidebar>
						</div>
				</div>
			</section>
			<!-- End latest-post Area -->
		</div>
		
		
<app-footer></app-footer>