
<div class="row">
  <div class="sidebars-area">
  
    <div class="single-sidebar-widget most-popular-widget">
      <h6 class="title">Most Popular</h6>
      <div class="single-list flex-row d-flex" *ngFor="let post of posts ">
        <div class="thumb">
            <a [routerLink]="'/postdetail/'+post.idPost">

            <div   *ngIf="post.photoPost!=null" >
                <img  src="http://localhost:9999/photoPost/{{post.idPost}}"  width="70px" height="70px">
            </div> 
            <video *ngIf="post.videoPost!=null" controls  id="videoPlayer" width="50px" height="50px">
                <source src="http://localhost:9999/videoPost/{{post.idPost}}" type="video/mp4" />
               
              </video>
            </a>
 
        </div>
        <div class="details">
            <a [routerLink]="'/postdetail/'+post.idPost">
              <h6>{{post.titlePost}}</h6>
          </a>
          <ul class="meta">
            <li><span class="lnr lnr-calendar-full"></span>{{post.datePost}}</li>
            <li><span class="lnr lnr-bubble"></span>{{post.listComment.length}}</li>
          </ul>
        </div>
      </div>
      
    
    </div>
    
  </div>
</div>